/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  min-width: 960px;
  overflow-x: hidden; }

.contacts {
  position: fixed;
  bottom: 100px;
  right: 300px;
  text-align: right;
  line-height: 1.5;
  font-family: "PT Sans";
  font-size: 20px;
  opacity: 0.5;
  -webkit-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out; }
  .contacts:hover {
    opacity: 1;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out; }

header {
  padding: 100px 0 0 300px;
  width: 100vw;
  height: 40vh; }
  header h1 {
    font-family: 'PT Sans Caption';
    font-size: 80px;
    color: black;
    font-weight: 700; }
  header h2 {
    font-family: 'PT Sans Caption';
    font-size: 20px;
    margin-top: 16px;
    color: black; }
  header p {
    width: 400px;
    font-family: 'PT Sans';
    font-size: 20px;
    margin-top: 60px;
    color: black; }

.works {
  padding-left: 300px;
  padding-top: 200px; }
  .works a {
    text-decoration: none;
    color: black; }
    .works a .work {
      -webkit-transition: 0.5s all ease-out;
      -o-transition: 0.5s all ease-out;
      transition: 0.5s all ease-out;
      height: 700px;
      width: 100vw;
      margin-bottom: 200px; }
      .works a .work h1 {
        font-family: 'PT Sans';
        font-size: 70px;
        -webkit-transition: 0.5s all ease-out;
        -o-transition: 0.5s all ease-out;
        transition: 0.5s all ease-out; }
      .works a .work h2 {
        text-decoration: none;
        font-family: 'PT Sans';
        font-size: 20px;
        -webkit-transition: 0.5s all ease-out;
        -o-transition: 0.5s all ease-out;
        transition: 0.5s all ease-out;
        margin-top: 10px; }
      .works a .work .workImage {
        margin-top: 50px;
        height: 600px; }
      .works a .work:hover {
        text-decoration: underline;
        -webkit-transition: 0.5s all ease-out;
        -o-transition: 0.5s all ease-out;
        transition: 0.5s all ease-out; }

.backButton {
  position: fixed;
  padding: 100px 0 0 130px;
  width: 150px;
  height: 100vh;
  font-family: 'PT Sans';
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: 0.5s all ease-out;
  -o-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  color: black; }
  .backButton:hover {
    text-decoration: underline; }

.porfolio {
  padding: 100px 0 0 300px; }
  .porfolio h1 {
    font-family: 'PT Sans Caption';
    font-size: 70px; }
  .porfolio h2 {
    text-decoration: none;
    font-family: 'PT Sans';
    font-size: 30px;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    margin-top: 10px; }
  .porfolio p {
    font-family: 'PT Sans';
    font-size: 20px;
    margin-top: 50px;
    width: 700px; }
    .porfolio p a {
      color: black;
      font-weight: 700; }
  .porfolio .portfolioSlider {
    margin-top: 100px; }
    .porfolio .portfolioSlider img {
      margin-top: 50px;
      width: 960px; }

#mobile {
  margin-left: 260px;
  width: 400px; }

#tourON {
  width: 700px;
  background-image: url(../img/touron.png);
  background-size: cover; }

#nimble {
  width: 700px;
  background-image: url(../img/Nimble.png);
  background-size: cover; }

#opia {
  width: 700px;
  background-image: url(../img/opia.png);
  background-size: contain;
  background-repeat: no-repeat; }
