@import "reset";
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption&subset=cyrillic');

.cube{
  position: absolute;
}

body{
  background-color: black;
  min-width: 960px;
  overflow-x: hidden;
}

.contacts{
  position: fixed;
  bottom: 100px;
  right: 300px;
  text-align: right;
  line-height: 1.5;
  font-family: "PT Sans";
  font-size: 20px;
  opacity: 0.5;
  transition: 0.5s all ease-out;
  &:hover{
    opacity: 1;
    transition: 0.5s all ease-out;
  }

}

header{
  padding: 100px 0 0 300px;
  width: 100vw;
  height: 40vh;
  h1{
    font-family: 'PT Sans Caption';
    font-size: 80px;
    color: black;
    font-weight: 700;
  }
  h2{
    font-family: 'PT Sans Caption';
    font-size: 20px;
    margin-top: 16px;
    color: black;
  }
  p{
    width: 400px;
    font-family: 'PT Sans';
    font-size: 20px;
    margin-top: 60px;
    color: black;
  }
}


.works{
  padding-left: 300px;
  padding-top: 200px;
  a{
    text-decoration: none;
    color: black;
    .work{
      transition: 0.5s all ease-out;
      height: 700px;
      width: 100vw;
      margin-bottom: 200px;
      h1{
        font-family: 'PT Sans';
        font-size: 70px;
        transition: 0.5s all ease-out;
      }
      h2{
        text-decoration: none;
        font-family: 'PT Sans';
        font-size: 20px;
        transition: 0.5s all ease-out;
        margin-top: 10px;
      }
      .workImage{
        margin-top: 50px;
        height: 600px;
      }
      &:hover{
        text-decoration: underline;
        transition: 0.5s all ease-out;
      }
    }
  }
}

.backButton{
  position: fixed;
  padding: 100px 0 0 130px;;
  width: 150px;
  height: 100vh;
    font-family: 'PT Sans';
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s all ease-out;
    color: black;
    &:hover{
      text-decoration: underline;
    }
}

.porfolio{
  padding: 100px 0 0 300px;
  h1{
    font-family: 'PT Sans Caption';
    font-size: 70px;
  }
  h2{
    text-decoration: none;
    font-family: 'PT Sans';
    font-size: 30px;
    transition: 0.5s all ease-out;
    margin-top: 10px;
  }
  p{
    font-family: 'PT Sans';
    font-size: 20px;
    margin-top: 50px;
    width: 700px;
    a{
      color: black;
      font-weight: 700;
    }
  }
  .portfolioSlider{
    margin-top: 100px;
    img{
      display: block;
      margin-top: 50px;
      width: 960px;
    }
  }
}

#mobile{
  margin-left: 260px;
  width: 400px;
}
#tourON{
  width: 700px;
  background-image: url(../img/touron.png);
  background-size: cover;
}
#nimble{
  width: 700px;
  background-image: url(../img/Nimble.png);
  background-size: cover;
}
#opia{
  width: 700px;
  background-image: url(../img/opia.png);
  background-size: contain;
  background-repeat: no-repeat;
}
